// color
$white: #fff;
$black: #000;
$gray: #818181;
$blue: #337ab7;
$new-color: #62af26;
$hot-color: #ed301c;
$red: #9c0001;
$light-gray: #cacaca;
$dark-gray: #252525;
$primary-color: #ffbe61;
$orange-color: #f26522;
$save-color: #24c5d9;

// z-index
$z-negative: -1;
$z-elevate: 1;
$z-sticky: 100;
$z-drawer: 200;
$z-dropdown: 400;
$z-modal: 500;
$z-toast: 1000;

// font family

$ff-roboto: "Roboto Slab", serif;

//font-weight
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 700;
$fw-bold: 900;

//font-size
$fs-light: 13px;
$fs-base: 15px;
$fs-sizable: 17px;
$fs-large: 27px;
